@tailwind base;
@tailwind components;
@tailwind utilities;

.inverted-border-radius::before {
    content: '';
    position: absolute;
    background-color: transparent;
}

.inverted-border-left.inverted-border-radius::before {
    height: 18px;
    width: 12px;
    border-top-left-radius: 9px;
    box-shadow: 0 -8px 0 0 rgb(250, 204, 21);
    left: 16px;
}

.inverted-border-right.inverted-border-radius::before {
    height: 18px;
    width: 12px;
    border-top-right-radius: 9px;
    box-shadow: 0 -8px 0 0 rgb(250, 204, 21);
    right: 16px;
}

.character-card-pattern {
    background-color: rgba(250, 204, 21, 0.8);
    background-image: linear-gradient(90deg, rgba(241, 235, 235, 0.3) 50%, transparent 0),
        linear-gradient(rgba(241, 235, 235, 0.3) 50%, transparent 0);
    background-size: 50px 50px;
}
